.container div {
    width: 33%;
    border: 1px solid green;
}

p {
    width: 33%;
    background-color: yellow;
    color: blue;
}

.b329 {
    width: 33%;
    font-weight: bold;
    color: blue;
}