div.box {
    background-color: rgb(30, 159, 163);
    border: 5px;
    border-color: rgb(53, 136, 101);
    border-style: solid;
    width: 34%;
    height: 120px;
    margin: 20px;
    position: relative;
    top: 20%;
    left: 33%;
}

div > p {
    color: rgb(10, 131, 131);
    font-size: 40px;
    position: relative;
    top: 5px;
    left: 10px;
    margin: 1%;
}